{% extends "navbar.html" %}
{% block body %}
<div id="b1"></div>
<section>
    <article id="c1">
        <figure><img src="{{url_for('static', filename='Georgii.png')}}" alt="" id="img" draggable="false"></figure>
        <h6>Georgii Volgov</h6>
        <p>Translator</p> 
    </article>
    <article id="c2">
        <h1>HELLO</h1>
        <p>Here's who I am and what I do</p>
        <a href="/resume" id="buton1">Resume</a>
        <a href="/contact" id="buton2">Contact</a>
        <p>An innovative and dynamic Management Information Systems student with a deep passion for technology, engineering, and international business...</p>
        <a href="/objective" id="buton3"><i class="fa-solid fa-arrow-right"></i> Read More</a>
    </article>
</section>
{% endblock %}