{% extends "navbar.html" %}
{% block body %}
<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="position: absolute; top: 10%; left: 0%; background-color: #8ea7e9; width: 40%; height: 90%;"></div>
    <h1 id="may">About Me</h1>
    <article class="ritem">
        <p>An innovative and dynamic Management Information Systems student with a deep passion for technology, engineering, and international business. Boasting extensive experience in both freelance and corporate technical translation across diverse cultural and business landscapes, I excel in adapting to varied workloads and fostering successful teamwork. Multilingual and highly motivated, I am eager to leverage my robust language skills and keen interest in innovative industrial solutions to tackle challenges within the tech or industrial sectors. My background demonstrates a unique blend of technical proficiency and customer service excellence, aiming to contribute significantly in environments that value creativity, strategic international business relations, and technological advancement.</p>
    </article>
</section>
{% endblock %}