{% extends "navbar.html" %}
{% block body %}
<section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="e1"></div>
    <h1 id="may">RESUME</h1>
    <h1 class="may">Professional Experience</h1>
    <article class="ritem">
        <h2>Feb 2022 - Present</h2>
        <h3>Freelance Translator</h3>
        <ul>
            <li class="riitem">Deliver high-quality translations in technical, engineering, and business documents, enhancing communication across multinational teams.</li>
            <li class="riitem">Specialized in technical and industrial translations, with a focus on manufacturing sectors.</li>
        </ul>
    </article>
    <article class="ritem">
        <h2>Feb 2022 - Present</h2>
        <h3>Corporate Translator</h3>
        <ul>
            <li class="riitem">Serve corporate clients with translations, focusing on international trade.</li>
        </ul>
    </article>
    <article class="ritem">
        <h2>May 2023 - Oct 2023</h2>
        <h3>Sales and Payment Consultant, ATÜ Duty Free </h3>
        <ul>
            <li class="riitem">Boosted customer satisfaction through effective problem-solving and enhanced communication strategies, understanding diverse client needs in a fast-paced retail environment.</li>
            <li class="riitem">Gained more insight into international business operations and customer service excellence.</li>
        </ul>
    </article>
    <h1 class="may">Education</h1>
    <article class="ritem">
        <h4>2023 - Present</h2>
        <h5>BSc in Management Information Systems, Dokuz Eylül Üniversitesi, İzmir, Turkey</h3>
    </article>
    <article class="ritem2">
        <h2>Skills</h2>
        <ul class="rul">
            <li class="riitem2">Proficient in fluent communication in Russian, Turkish and English.</li>
            <li class="riitem2">Translation abilities with focus on business.</li>
            <li class="riitem2">Excellent communication, teamwork, and problem-solving skills.</li>
            <li class="riitem2">Ability to work under pressure and manage high workloads.</li>
            <li class="riitem2">Familiarity with technology and engineering concepts.</li>
        </ul>
    </article>
    <article class="ritem2_1">
        <h2>Languages</h2>
        <ul class="rul">
            <li class="riitem2">Russian (Native)</li>
            <li class="riitem2">English (Advanced)</li>
            <li class="riitem2">Turkish (Native)</li>
        </ul>
    </article>
</section>
{% endblock %}